[defaults]
inventory = inventory/hosts.yml
remote_user = ubuntu
private_key_file = ../infra/.ssh/sentinel_ed25519
host_key_checking = False
retry_files_enabled = False
collections_path = ./.collections
stdout_callback = yaml

[privilege_escalation]
become = True
become_method = sudo

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=30
pipelining = True
